<a href="https://colab.research.google.com/github/JCaballerot/Estadistica_para_la_ciencia_de_datos/blob/main/pruebas_hipotesis/caso_IV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Prueba de hipótesis para la media de una muestra

In [1]:
media_hipotesis = 22

In [5]:
desv = 5
n = 300
media = 20

In [6]:
est = (media - media_hipotesis)/(desv/(n**0.5))
est

-6.92820323027551

##Eficacia de la campaña de marketing

In [7]:
import pandas as pd

In [8]:
pddf = pd.read_csv('marketing_AB.csv')
pddf.head()

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14

In [10]:
pddf.groupby('test group')['user id'].count()

test group
ad     564577
psa     23524
Name: user id, dtype: int64

In [11]:
pddf.groupby('converted')['user id'].count()

converted
False    573258
True      14843
Name: user id, dtype: int64

In [12]:
pd.crosstab(pddf['test group'], pddf['converted'])

converted    False  True
test group
ad          550154  14423
psa          23104    420

In [19]:
pd.crosstab(pddf['test group'], pddf['converted'], normalize = 'index')

converted      False     True
test group
ad          0.974453  0.025547
psa         0.982146  0.017854

In [24]:

pddf['flg_grupo'] = pddf['test group'].apply(lambda x: 1 if x == 'ad' else 0)
pddf['flg_converted'] = pddf['converted'].apply(lambda x: 1 if x == True else 0)

In [25]:
import statsmodels.api as sm
# Fit and summarize OLS model
mod = sm.Logit(pddf['flg_converted'], 
               pddf['flg_grupo'])
res = mod.fit()
print(res.summary())

Optimization terminated successfully.
         Current function value: 0.141873
         Iterations 8
                           Logit Regression Results
==============================================================================
Dep. Variable:          flg_converted   No. Observations:               588101
Model:                          Logit   Df Residuals:                   588100
Method:                           MLE   Df Model:                            0
Date:                Sat, 29 Apr 2023   Pseudo R-squ.:                 -0.2046
Time:                        16:55:42   Log-Likelihood:                -83436.
converged:                       True   LL-Null:                       -69267.
Covariance Type:            nonrobust   LLR p-value:                       nan
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
flg_grupo     -3.6414      0.008   -431.692      0.000      -3.658      -3.625
==============================================================================

In [ ]:
# con 95% confianza (p < 0.05) podemos afirmar que el ratio de conversion es distinto entre las muestras de control y tratamiento

In [29]:
pddf[['total ads', 'most ads hour']].corr()

               total ads  most ads hour
total ads       1.000000      -0.010837
most ads hour  -0.010837       1.000000